<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% include 'bulletin/_sheet_styles.html.twig' %}
</head>
<body>
    {% include 'bulletin/_sheet_body.html.twig' %}
</body>
</html>
