{% extends 'base.html.twig' %}

{% block title %}Nouvelle dépense{% endblock %}
{% block heading %}Nouvelle dépense{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-9">
            {% embed 'components/page_header.html.twig' with {
                title: block('heading'),
                icon: 'fa-money-bill-trend-up',
                color: 'danger',
                breadcrumb: [
                    { label: 'Dépenses', path: path('admin_depense_index') },
                    { label: block('heading') }
                ]
            } %}
                {% block actions %}
                    <a href="{{ path('admin_depense_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                {% endblock %}
            {% endembed %}

            {% include '_flash.html.twig' %}

            <div class="card"><div class="card-body">
                {% include 'depense/_form.html.twig' %}
            </div></div>
        </div>
    </div>
</div>
{% endblock %}
